<div class="container">
  <div class="row">
    <div class="text-center">

<%= bootstrap_form_for(@restaurant,layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :address %>
  <%= f.text_field :phone_number %>
  <%= f.select :category, [["chinois", "chinese"], ["japanese"], ["french"],["belgian"],["italian"]] %>
  <%= f.submit "Create Restaurant", class: "btn btn-success" %>
<% end %>
</div>
</div>
</div>